/.distignore            export-ignore
/.gitignore             export-ignore
/.gitattributes         export-ignore
/.github/               export-ignore
/.vscode/               export-ignore
/.editorconfig          export-ignore
/.vs/                   export-ignore
/Patch & Fix/           export-ignore

/.eslintrc*             export-ignore
/.stylelintrc*          export-ignore
/assets-src/            export-ignore
/tests/                 export-ignore
/cypress/               export-ignore
/coverage/              export-ignore

/node_modules/          export-ignore
/vendor/                export-ignore
/package-lock.json      export-ignore
/pnpm-lock.yaml         export-ignore
/yarn.lock              export-ignore
/composer.lock          export-ignore

*.map                   export-ignore
*.log                   export-ignore
*.md                    export-ignore
*.MD                    export-ignore
*.txt~                  export-ignore
Thumbs.db               export-ignore
.DS_Store               export-ignore
