/.distignore            export-ignore
/.gitignore             export-ignore
/.gitattributes         export-ignore
/.github/               export-ignore
/.vscode/               export-ignore
/.editorconfig          export-ignore
/.eslintrc*             export-ignore
/.stylelintrc*          export-ignore
/assets-src/            export-ignore
/tests/                 export-ignore
/cypress/               export-ignore
/coverage/              export-ignore
*.map                   export-ignore
*.log                   export-ignore
*.md                    export-ignore
*.MD                    export-ignore
*.txt~                  export-ignore
Thumbs.db               export-ignore
.DS_Store               export-ignore
