name: Update WordPress.org assets (no release)

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".wordpress-org/**"
      - "readme.txt"

jobs:
  assets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update assets and readme on WordPress.org
        uses: 10up/action-wordpress-plugin-asset-update@stable
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SLUG: spelhubben-weather
